@page "/imageupload"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation


<h3>Image Upload</h3>

<InputFile OnChange="@OnFileSelected" />
<button @onclick="SendImage">Send Image</button>

<div>
    @if (receivedImage != null)
    {
        <img src="@imageDataUrl" alt="Received Image" />
    }
</div>

@code {
    private byte[] selectedImage;
    private byte[] receivedImage;
    private string imageDataUrl;
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.GetMultipleFiles().FirstOrDefault();
        if (file != null)
        {
            using (var stream = file.OpenReadStream())
            {
                using (var memoryStream = new MemoryStream())
                {
                    await stream.CopyToAsync(memoryStream);
                    selectedImage = memoryStream.ToArray();
                }
            }
        }
    }

    private async Task SendImage()
    {
        await hubConnection.SendAsync("SendImage", selectedImage);
    }

    protected override void OnInitialized()
    {
        hubConnection.On<byte[]>("ReceiveImage", image =>
        {
            receivedImage = image;
            imageDataUrl = $"data:image/png;base64,{Convert.ToBase64String(receivedImage)}";
            StateHasChanged();
        });

        base.OnInitialized();
    }
}
